*{
    margin: 0;
    padding: 0;
}


.product{
    display: flex;
    justify-content: space-between;
    align-items: center;
   border: 2px solid orange;
    padding: 2px 15px;
    border-radius: 6px;
    margin-bottom: 3px;
}
.changingqty{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
}
.productcontent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.productprice{
    margin-right: 2rem;
}